body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a {
  color: seashell;
}

header {
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  align-items: center;
  position: fixed;
  background-color: black;
  top: 0px;
  z-index: 5;
}

footer {
  text-align: left;
  margin-left: 20px;
}

.container {
  display: flex;
  align-items: center;
  margin: auto;
  position: relative;
  margin-top: 70px;
}

.logo {
  margin: 10px;
}

.nav {
  text-align: right;
  flex: 2;
  margin: 10px;
}

.location {
  background-color: black;
  width: 300px;
  opacity: 1;
}

.mission {
  align-items: center;
  width: 1200px;
  background-color: black;
}

.tea h4 {
  margin-top: 0px;
}

#nav li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  text-decoration: underline;
}

#section1 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
}

#section2 .container {
  width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

#section2 img {
  width: 300px;
  height: 200px;
  padding: 10px;
}

#section3 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  width: 1200px;
  height: 500px;
  margin: auto;
}

#section3 .container {
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

#section3 h2 {
  padding-top: 75px;
}

#section4 {
  height: 200px;
}
